.FORMULARIO{
    text-align:center;
    padding:0 6px 20px 6px;
}
.FORMULARIO table tr th{
    color:#888;
    background:#fafafa;
    text-align:right;
    padding:9px 5px 5px 5px;
    width:200px;
    border:1px solid #ddd;
    border-radius:4px 0 0 4px;
    -webkit-border-radius:4px 0 0 4px;
    -moz-border-radius:4px 0 0 4px;
    overflow:hidden;
    vertical-align:top;
    transition:all 0.2s linear;
}
.FORMULARIO table tr:hover th{
    color:#000;
    transition:all 0.2s linear;
}
.FORMULARIO table tr td{
    padding:0;
}
.FORMULARIO table tr td .Text{
    width:358px;
    height:23px;
    line-height:21px;
    padding:4px 5px;
    border:1px solid #ddd;
    border-radius:0 4px 4px 0;
    -webkit-border-radius:0 4px 4px 0;
    -moz-border-radius:0 4px 4px 0;
    transition:all 0.2s linear;
}
.FORMULARIO table tr td .Text:hover{
    border-color:#aaa;
    transition:all 0.2s linear;
}
.FORMULARIO table tr td .Text:focus{
    border-color:#aaa;
    transition:all 0.2s linear;
}
.FORMULARIO table tr td select{
    width:370px;
    height:33px;
    line-height:25px;
    padding:7px 5px 7px 0;
    border:1px solid #ccc;
    border-radius:0 4px 4px 0;
    -webkit-border-radius:0 4px 4px 0;
    -moz-border-radius:0 4px 4px 0;
    transition:all 0.2s linear;
}
.FORMULARIO table tr td select:hover{
    border-color:#aaa;
    transition:all 0.2s linear;
}
.FORMULARIO table tr td select:focus{
    border-color:#aaa;
    transition:all 0.2s linear;
}
.FORMULARIO table tr td select option{
    padding:5px 5px 5px 3px;
}
.FORMULARIO table tr td .multiple{
    padding:0;
    height: auto;
}
.FORMULARIO table tr td .multiple option{
    padding:5px 5px 5px 3px;
}

.FORMULARIO table tr td textarea{
    border:1px solid #ccc;
    margin:0 0 -1px 0;
    height:200px;
    min-height:21px;
    width:358px;
    min-width:358px;
    max-width:358px;
    padding:5px;
    border-radius:0 4px 4px 0;
    -webkit-border-radius:0 4px 4px 0;
    -moz-border-radius:0 4px 4px 0;
    font-size:13px;
    font-family:inherit;
    transition:all 0.2s linear;
}
.FORMULARIO table tr td textarea:hover{
    border-color:#aaa;
    transition:all 0.2s linear;
}
.FORMULARIO table tr td textarea:focus{
    border-color:#aaa;
    transition:all 0.2s linear;
}
.FORMULARIO table tr .opcoes{
    background:none;
    border:none;
    padding:6px 0 3px 0;
}
.FORMULARIO table tr .opcoes br{
    margin-top: 16px
}
.FORMULARIO table tr .opcoes .alex-bt{
    float: right;
    margin-left: 3px;
}
.FORMULARIO table tr .opcoes .destaque{
    width: 150px;
    text-align: center
}